<html>
<head>
<title>Welcome</title>
    <style>
        .row {clear:both;}
        .row div { float: left; padding-left: 20px; }
        .row .count { width: 50px; }
        .row .status { width: 80px; }
    </style>
</head>
<body>

 <h1>Job Queue Size: {{ job_count }}</h1>
 <div id="job_queue">
    <div class="row" style="font-weight:bold; background:grey;">
        <div class="count">Count</div>
        <div class="status">Status</div>
    </div>

    {% for job in job_queue %}
    <div class="row" style="background:{{ loop.cycle("grey", "white") }};">
        <div class="count">{{ loop.index }}</div>
        <div class="status">{{ job["STATUS"] }}</div>
    </div>
    {% endfor %}
 </div>
</body>
</html>
